<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.authing.guard">

    <application>
        <activity
            android:name=".activity.DeveloperActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AuthorizedResourcesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RolesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.BindEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BindPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BaseAuthActivity"
            android:exported="false">
            <intent-filter tools:node="replace">
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="__authing_guard__" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter tools:node="replace">
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="__authing_guard__" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IndexAuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeleteAccountActivity"
            android:exported="false" />
        <activity android:name=".activity.WebActivity"
            android:exported="false" />
        <activity android:name=".activity.AppScanLoginActivity" />
        <activity android:name=".social.web.WebAuthActivity" />

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity" />

        <service android:name=".push.GuardPushServer"
            android:exported="false"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".push.PushLoginServer" />
    </application>

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <queries>
        <package android:name="com.tencent.wework" />
    </queries>

    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>

    <queries>
        <package android:name="com.ss.android.lark" />
    </queries>

    <queries>
        <intent>
            <action android:name="com.getui.sdk.action" />
        </intent>
    </queries>

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <queries>
        <package android:name="com.instagram.android" />
    </queries>

    <queries>
        <!--允许查询抖音和抖音极速版的软件包信息-->
        <package android:name="com.ss.android.ugc.aweme" />
        <package android:name="com.ss.android.ugc.aweme.lite" />
    </queries>

    <queries>
        <package android:name="com.smile.gifmaker" />
        <package android:name="com.kuaishou.nebula" />
    </queries>

</manifest>