<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.authing">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guard">
        <activity
            android:name=".push.LoginByPushNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".scan.ScanAuthActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".nissan.NissanVirtualKeyResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".nissan.NissanVirtualKeySendEmailActivity"
            android:exported="false" />
        <activity
            android:name=".nissan.NissanVirtualKeySignupTwoActivity"
            android:exported="false" />
        <activity
            android:name=".nissan.NissanVirtualKeySignupOneActivity"
            android:exported="false" />
        <activity
            android:name=".nissan.NissanVirtualKeyAuthActivity"
            android:exported="false" />
        <activity
            android:name=".abao.AbaoVerifyCodeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SampleListActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AndroidAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oneclick.OneClickActivity"
            android:exported="false" />
        <activity
            android:name=".wechat.WechatAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".theragun.TheragunAuthActivity"
            android:exported="false" />
        <activity
            android:name=".theragun.TheragunVerifyCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".abao.AbaoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appauth.AppAuthActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="cn.guard"
                    android:host="appauth"
                    android:path="/redirect" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="cn.guard"
                    android:host="authing.cn"
                    android:path="/redirect" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webview.AuthingWebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="guard"
                    android:host="authing.cn" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authenticator.AuthenticatorActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".guard.wxapi.WXEntryActivity"
            android:exported="true" />
    </application>

</manifest>